  <body>
    <% if @user %>
      <input id = 'signedin' type = "hidden" value="yes">
      <input name='user_id' id='user_id' type="hidden" value = '<%= @user.id %>'>
      <% end %>

      <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top" id="top-nav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">The Posh Couch<span class="sr-only">(current)</span></a>
          </li>
          <% if session[:id] %>
            <a href="#" class="nav-link" data-toggle="modal" data-target="#listSpaceModal" id="postspace">List Space</a>
            <a href id="signout">Sign Out, <span id="username"><%= @user.username %></span></a>
          <% else %>
            <li class="nav-item">
              <a href = "#" class="nav-link" data-toggle="modal" data-target="#logInModal">Sign In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href='#' data-toggle="modal" data-target="#signUpModal">Sign Up</a>
            </li>
          <% end %>
        </ul>
    </nav>

<!-- SIGN UP form -->
<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-signin" style = "margin: 10px;">
            <h1 class="h3 mb-3 font-weight-normal text-center">Please sign up</h1>
            <div id='response3'></div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="emailSignUp" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="passwordSignUp" class="form-control" placeholder="Password" required>
            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="nameSignUp" class="form-control" placeholder="Name" required>
            <label for="inputUserName" class="sr-only">Username</label>
            <input type="text" id="userNameSignUp" class="form-control" placeholder="Username" required>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="submitSignUp" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- LIST SPACE form -->
<div class="modal fade" id="listSpaceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">List Space</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">

          <form action = '/new' method = 'post' class="form-signin" style = "margin: 10px;" enctype="multipart/form-data">
              <h1 class="h3 mb-3 font-weight-normal text-center">Please list your space</h1>
              <div id='response'></div>
              <label for="inputNameOfSpace" class="sr-only">Property name</label>
              <input type="name_of_space" name="name_of_space" class="form-control" placeholder="Property name" required autofocus>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPricePerNight" class="sr-only">Price per night (£)</label>
              <input type="price" name="price_per_night" class="form-control" placeholder="Price per night" required autofocus>
              <input type="file" name="file" class="form-control">
              <label for="inputDescription" class="sr-only">Description</label>
              <input type="description" name="description" class="form-control" placeholder="Description" required autofocus>
              <% if @user %>
              <input name='user_id' id='user_id' type="hidden" value = '<%= @user.id %>'>
              <% end %>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type = 'submit' id = "submit" value = 'Submit' class="btn btn-primary">
        </div>
        </form>
      </div>
    </div>
</div>

<!-- LOG IN form -->
<div class="modal fade" id="logInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Log in</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-signin" style = "margin: 10px;">
              <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
              <div id='response2'></div>
              <label for="inputEmail" class="sr-only">Email address</label>
              <input type="email" id="emailLogIN" class="form-control" placeholder="Email address" required autofocus>
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="passwordLogIn" class="form-control" placeholder="Password" required>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id = "submitLogIN" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>


      <div class="jumbotron text-center">
    		<h1 class="headline">The Posh Couch</h1>
    		<span class="tagline">Find your home away from home.</span>
    	</div>

      <blockquote class="blockquote text-center">
        <p class="mb-0">Don't worry, this one little picture is all you need to see. You're going to love it!</p>
        <footer class="blockquote-footer">The Ultimate Site Critic</footer>
      </blockquote>

      <!-- WRAP CONTAINER TO CENTER THE CARDS-->
      <div id='listings' class="d-flex justify-content-center flex-wrap row-hl">
      <!-- END CARD CONTAINER -->

    </div>
    <footer class="fixed-bottom text-center" id="bottom-nav">
      <span>&copy;2018 Make your dreams come true with Posh Couch.</span>
    </footer>

    <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/indexinterface.js"></script>
<script type="text/javascript" src="js/signoutinterface.js"></script>
<script type="text/javascript" src="js/signininterface.js"></script>
<script type="text/javascript" src="js/signupinterface.js"></script>
