<button id="signup"><a href='/signup'>Sign Up</a></button>
<ul id = 'listings'></ul>


<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/indexinterface.js"></script>
