
<% if session[:username] %>You are signed in as <%= session[:username] %>
<% else %>
<a href='/signin'>Sign In</a>
<a href='/signup'>Sign Up</a>
<% end %>



<ul id = 'listings'></ul>


<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/indexinterface.js"></script>
