<div id='response'></div>
Your email adress:
<input name='email' id='email' type="text"><br>
<input name='space_id' id='space_id' type="hidden" value = '<%= @space_id %>'><br>
Message:
<textarea name='body' cols="100" rows="15" id="body" type="text"></textarea><br>
<button id='submit'>Request</button>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/newrequestinterface.js"></script>
