<div id = 'response'></div>
Name of space:
<input name = 'name_of_space' id = 'name_of_space' type="text"><br>
Your email address:
<input name = 'email' id="email" type="text"><br>
description:
<input name = 'description' id='description' type="text"><br>
<button id = 'submit'>List my space</button>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/newspaceinterface.js"></script>
