<div id='response'></div>
Email:
<input name ="email" id="email" type="text"><br>
Password:
<input name="password" id="password" type="password"><br>
<button id='submit'>SignUp</button>
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/signininterface.js"></script>
