.navbar a:link {
  color: #a43c1d;
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-size: .95em;
  text-transform: uppercase;
}

.jumbotron{
  background-color: #a43c1d;
  background-size: cover;
  padding: 3.2em 0;
  margin-bottom: 60px;
}
.image_name{
  width: 300px;
  height: 200px;
}

.blockquote{
  margin-bottom: 1.5em;
}

.page-footer{
  background-color: blue;
}
