.sticky-top a {
  display: block;
  text-align: center;
  padding: 10px 15px;
  font-size: .95em;
  color: red;
  text-transform: uppercase;
}

.sticky-top a:hover {
  color: #093a58;
}

.jumbotron{
  background: linear-gradient(#abcdef, transparent 60%),
              linear-gradient(0deg, #fff, transparent),
              #ffa949 url('images/head.jpg') no-repeat center;
  background-size: cover;
  padding: 3.2em 0;
  margin-bottom: 60px;
}
